/* Áp dụng cho cả hai nút */
.one-forth a {
  transition: all 0.25s ease;
  cursor:pointer;
}

/* Khi hover vào */
.one-forth a:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.icon:hover .icon-heart {
  animation: pulse 0.4s ease-in-out;
  color: #e63946;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}



